input {
  padding: 10px;
  margin: 10px 0px 10px 10px;
  width: 200px;
}

button {
  padding: 10px;
  border-radius: 3px;
}

table#location_data th, tr, td {
  padding: 5px;
}

table#location_data tr:nth-child(even) {
    background-color: #eee;
}

table.chartB tr:nth-child(even) {
    background-color: #eee;
}

table#location_data tr:nth-child(odd) {
    background-color: #fff;
}

table.chartB tr:nth-child(odd) {
    background-color: #fff;
}

table#location_data, #chartB, .chartC {
  text-align: center;
}

table.chartC th, tr, td {
  padding: 10px;
}

